@import "tailwindcss";

@theme {
  --color-primary-600: #059669; /* Beautiful emerald green */
}

@layer base {
  html, body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none; /* helps prevent default pull to refresh so our custom one handles it seamlessly */
  }
}
